
<div class="jumbotron">
    <h1 class="display-4 text-center">About GitHub</h1>
    <hr class="my-4">
    <p class="lead text-center">A git hub page entails all the following below...</p>
  </div>
 <div  class="heading">
<p>GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere.

  This tutorial teaches you GitHub essentials like repositories, branches, commits, and Pull Requests. You’ll create your own Hello World repository and learn GitHub’s Pull Request workflow,
  a popular way to create and review code.</p>
 </div>
  <h2>steps to follow</h2>
  <ul>
    <li>create a repository</li>
    <li> create a new branch</li>
    <li>  make commits or changes</li>
    <li>open your pull request</li>
    <li>merge your pull request</li>
  </ul>