 .nav-link{
    font-size:20px ;
    color: rgb(32, 39, 38);
}
.navbar-brand{
    font-size:30px ;
    font-weight: 1000;
}
.github{
    position: absolute;
    right:2% ;
}
.search{
    position: absolute;
    left:40%;
} 