<div class="header">
    <h1>GITHUB</h1>
</div>
 <div class="searchbar"> 
     <app-search-form (searchOutput)= "search($event)" class="form"></app-search-form> 
 </div>
    <div class="jumbotron">
        <h1 class="display-4 text-center">Learn Git and Github without any code</h1>
        <hr class="my-4">
        <p class="lead text-center">read more on the link button below</p>
        <button>
        <a style="text-align: center;"   routerLink = '/about' routerLinkActive ='active'>LEARN ABOUT</a>  
        </button>   
    </div>
         <div>
                <h1>HEY, CHECKOUT MY GITHUB PAGE</h1>
            </div><br>
                    <div>
                        <h2>Mwaa123</h2>  
                    </div>

                    
                      
                       <div class="row">
                          
                           <div class="col-md-3">
                               <div class="body-card">
                                   <img src="{{user.avatar_url}} " alt="" class="img"><br>
                                   <p  class="name"><i style="font-size:20px"></i>&nbsp;{{user.login}}</p> 
                                   <p>Updated:<span><i class=""></i>&nbsp;{{user.updated_at|date}}</span></p> 
                                   <a href="{{user.html_url}}" class="git"><i class="fa fa-github" ></i> &nbsp; <span>Github</span></a>
                                </div>
                           </div>
                           <div class="col-md-9">
                               <div class="gen">
                                    <div class="info">
                                        <p>Repositories<span class="three">{{user.public_repos}}</span></p>
                                    </div>
                                      <div class="info">
                                          <p>Followers<span class="three">{{user.followers}}</span></p>
                                      </div>
                                      <div class="info">
                                          <p>Following<span class="three">{{user.following}}</span></p>
                                     </div>
                                     <div class="info">
                                        <p>Overviews<span class="three">{{user.public_gists}}</span></p>
                                    </div>
                               </div>
                               <hr>
                               <div>
                                   <h2 class="text-center">Repositories</h2>
                                   <!-- <div class="all">
                                        <div class="card" *ngFor='let repository of repo'>
                                            <div class="card-body four">
                                                <a href="{{repository.html_url}}"><h3 class="card-title">{{repository.name}}</h3></a>
                                                <p>{{repository.description}}</p>
                                                    <div class="line">
                                                        <p class="repo1">{{repository.language}}</p>
                                                        <p class="repo2">Updated:<i class="fa fa-clock-o date "></i>&nbsp;{{repository.created_at|dateCount}}</p>
                                                        <p class="repo"><i  aria-hidden="true" id="one"></i>{{repository.forks}}</p>
                                                       

                                                    </div>
                                                
                                            </div>
                                        </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                 -->











                        
                     