<div class="header">
    <h1>GITHUB</h1>
</div>
<div class="jumbotron">
    <h1 class="display-4 text-center">Learn Git and Github without any code</h1>
    <hr class="my-4">
    <p class="lead text-center">read more on the link button below</p>
    <button>
        <a style="text-align: center;"   routerLink = '/about' routerLinkActive ='active'>LEARN ABOUT</a>  
      </button>
      
  </div>
 
    <!-- <div style="text-align: center;"  class="page" >
        <h2> Learn Git and Github without any code</h2>
        <h4>read more on the link button below</h4>
    </div> -->
    <!-- <button style="text-align: center;">
        <a routerLink = '/about' routerLinkActive ='active'>LOGIN</a>  
      </button>
       -->
